.list-item{
    display: flex;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    background-color: #29212C;
    margin: 10px;
}

.i-check{
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

label {
    color: white;
}